<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <form id="shorten-form" action="/" method="post">
        <div class="container">
            <h1>URL Shortener</h1>
            <div>
                <label for="url">Enter URL</label><br>
                <input id="url" type="url" name="url" required />
            </div>
            <div>
                <label for="shortCode">Custom Short URL (Optional)</label><br>
                <input id="shortCode" type="text" name="shortCode" />
            </div>
            <button type="submit">Shorten</button>
            <h2>Shortened URLs</h2>
            <ul>
                <% links.map(({shortCode, url})=> {%>
                    <li><a style='color: #168fbeff; font-weight: 500' href='/<%= shortCode%>' target="_blank">
                            <%= host%>/<%= shortCode %>
                        </a>
                        <%= url%>
                    </li>
                    <%})%>
            </ul>
        </div>
    </form>
</body>

</html>